<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SmartRoom - Alarm</title> <!-- Module tab title -->
    <link rel="icon" href="/assets/images/avocado.png">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="./main.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/pace.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css"/>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow {{fixedHeader}} {{fixedSidebar}} {{fixedFooter}}"
     id="mainAppContainer">

    {{>header}}

    <div class="app-main">

        {{>sidemenu}}

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-alarm icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div> Alarm<!-- Module title-->
                                <div class="page-title-subheading"> Wake yo ass up <!-- Module description -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                Content-->
                <div class="row">
                    <div class="col-12">

                        <div class="card mb-3" id="cardAlarmList">
                            <div class="card-body">
                                <div class="row" data-toggle="collapse" href="#invoiceDetailsListView1" style="cursor: pointer" onclick="rotateArrowListView(1)">
                                    <div class="col-11"><span class="card-title">Alarms</span></div>
                                    <div class="col-1 text-right vertical-center">
                                        <div class="container"><i class="fas fa-angle-down dropdown-angle-animation" id="arrowListView1"></i></div>
                                    </div>
                                </div>
                                <div class="collapse" id="invoiceDetailsListView1">
<!--                                    Alarms list-->
                                    <div class="divider mt-4"></div>

                                    <div id="alarmsListDiv">
                                        <div class="d-flex justify-content-center mt-5 mb-5">
                                            <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card mb-3" id="cardAlarmSet">
                            <div class="card-body">
                                <div class="row" data-toggle="collapse" href="#invoiceDetailsListView2" style="cursor: pointer" onclick="rotateArrowListView(2)">
                                    <div class="col-11"><span class="card-title">Create a new alarm</span></div>
                                    <div class="col-1 text-right vertical-center">
                                        <div class="container"><i class="fas fa-angle-down dropdown-angle-animation" id="arrowListView2"></i></div>
                                    </div>
                                </div>
                                <div class="collapse mt-2" id="invoiceDetailsListView2">
<!--                                    Form to create a new alarm-->

                                    <div class="divider"></div>

                                    <form id="alarmSetForm">

                                        <label for="alarmSetTime">Alarm name:</label>
                                        <input type="text" class="form-control" name="alarmSetName" placeholder="Waaaaaake up" required>

                                        <label for="alarmSetDescription" class="mt-3">Alarm description:</label>
                                        <textarea type="text" class="form-control" name="alarmSetDescription" rows="3"></textarea>

                                        <label for="alarmSetTime" class="mt-3">At what time?</label>
                                        <input type="time" class="form-control" name="alarmSetTime" required>

                                        <label for="alarmSetRepeat" class="mt-3">Repeat:</label>
                                        <select class="form-control" name="alarmSetRepeat">
                                            <option value="No">no</option>
                                            <option value="Daily">daily</option>
                                            <option value="Weekly">weekly</option>
                                        </select>

                                        <div class="row mt-3">
                                            <div class="col-5">
                                                <button class="btn btn-success" id="buttonCreateNewAlarm">Set the alarm <i class="fas fa-check ml-1"></i></button>
                                                <div class="spinner-border spinner-border-sm ml-2 d-none" role="status" id="createNewAlarmButtonSpinner">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

            <button data-toggle="modal" data-target="#alarmModal" data-backdrop="static" data-keyboard="false" id="showAlarmModal" class="d-none"></button>

            {{>footer}}

        </div>
    </div>
</div>

<!--Modals-->
<div class="modal fade" id="alarmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alarmModalTitle"><span id="alarmModalTitleSpan">Loading...</span></h5>
                <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close" id="alarmModalButtonDismiss">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <span style="font-family: Segment7Standard; font-size: 50px" id="alarmModalHour">09:13</span><i id="alarmModalBellIcon" class="fas fa-bell ml-2" style="font-size: 50px"></i>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <span id="alarmModalDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="alarmModalDismissButton">I'm awake!</button>
                <div class="spinner-border spinner-border-sm ml-2 d-none" role="status" id="alarmModalDismissSpinner">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Templates-->
<script id="alarmList-template" type="text/x-handlebars-template">
    <div id="{{alarmListID}}">
        <div class="row">
            <div class="col-2 text-center vertical-center">
                <i class="fas fa-bell mr-1"><i class="fas fa-redo ml-1 mr-1 {{alarmListRepeatClass}}" data-toggle="tooltip" data-placement="top" title="{{alarmListRepeatText}}"></i></i><span style="font-family: Segment7Standard; font-size: 30px">{{alarmListHour}}</span>
            </div>
            <div class="col-9 vertical-center text-truncate font-weight-bold">
                {{alarmListName}}
            </div>
            <div class="col-1 vertical-center">
                <label class="switch" for="alarmListToggle{{alarmListIndex}}">
                    <input type="checkbox" id="alarmListToggle{{alarmListIndex}}">
                    <div class="slider round"></div>
                </label>
                <div class="spinner-border spinner-border-sm ml-2 d-none" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</script>

<script data-pace-options='{ "restartOnRequestAfter": false }' src="./assets/scripts/dependencies/pace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" src="./assets/scripts/main.js"></script>
<script src="./assets/scripts/search.js"></script>
<script src="./assets/scripts/showToasterMessages.js"></script>
<!--Module script-->
<script src="./assets/scripts/alarm.js"></script>
</body>
</html>
